<!DOCTYPE HTML>
<html>
<head>
    <title>웹 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/css/app/basic.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<div class="head_title_d">
    <div class="head_left">
        <h1 class="head_title"><a href = "/">욕설 인사이드</a></h1>
    </div>
    <div class="head_right">
        <a href = "/admin" role="button" class="btn btn-primary">관리자 페이지</a>
    </div>
</div>
<body>
<div class="page_content">