{{>layout/header}}
<h1>관리자 댓글보기</h1>
<div class="col-md-12">
    <table class="comment_table" id="commentTable">
        <thead class="thrad-strong">
        <tr>
            <th class="admin_comment">댓글</th>
            <th class="admin_report">신고 내용</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#report}}
            <tr>
                <td>{{content}}</td>
                <td>{{words}}</td>
            </tr>
        {{/report}}
        </tbody>
    </table>
    <div class="below_table">
        <a href = "/admin" role="button" class="a_button">돌아가기</a>
    </div>
</div>
{{>layout/footer}}