<div class="col-md-12">
    <table class="comment_table">
        <thead class="comment_table_head">
        <tr>
            <th class="author">작성자</th>
            <th class="content">내용</th>
            <th class="date">날짜</th>
            <th class="report">신고</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#comment}}
            <tr>
                <td>{{author}}</td>
                {{#report}}
                    <td class="text_blur">{{content}}</td>
                {{/report}}
                {{^report}}
                    <td>{{content}}</td>
                {{/report}}
                <td>{{modifiedDate}}</td>
                <td>
                    <input type="button" class="a_cancel_button" value="신고"/>
                </td>
            </tr>
        {{/comment}}
        </tbody>
    </table>
</div>
