{{>layout/header}}
    <div class="input_page">
        <form>
            <div class="form_group">
                <input type="textarea" style="display:none" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form_group">
                <input type="text" class="input" id="title" value="{{post.title}}">
            </div>
            <div class="form_group">
                <input type="text" class="input" value="{{post.author}}" readonly>
            </div>
            <div class="form_group">
                <textarea id="content" class="text" id="content">{{post.content}}</textarea>
            </div>
        </form>
        <div class="input_below">
            <a href ="/" role="button" id="a_cancel_button">취소</a>
            <button type="button" id="a_cancel_button" class="btn-delete">삭제</button>
            <button type="button" class="button" id="btn-update-check">수정 완료</button>
        </div>
</div>
{{>layout/footer}}